  p{
  color: grey;
  font-family: 'Raleway', sans-serif;
}

head{
  font-family: 'Playfair Display', serif;
  font-weight: bolder;
}

h1{
  font-family: 'Playfair Display', serif;
}

h2{
  font-family: 'Playfair Display', serif;
  font-weight: normal;
}

h3{
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}

body{
  background-color: #ebe3ce;
}

#container {
  margin: 10px auto 10px auto;
  width: 90%;
  text-align: center;
  color: grey;
  background-color: #fff3ce
}

#nav {
  padding: 0;
}

#nav li {
list-style-type: none; /*remove the bullets*/
float:left;
margin:0;
padding:0;
width: 25%;
}

#nav a:link, a:visited {
  display: block;
  background-color: #ebe399;
  text-align: center;
  text-decoration: none; /*no underline*/
  padding: 10px;
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;

}

#nav a:hover, a:active{
  background-color: #7a991a;
}

#nav1  a:link, a:visited {
  display: block;
  color: #98bf21;
  text-align: center;
  text-decoration: none;
  padding: 4px;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  font-style: italic;
}

#nav2  a:link, a:visited {
  display: block;
  color: #98bf21;
  text-align: center;
  text-decoration: none;
  padding: 4px;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  font-style: italic;
}

img {
  border-style: none;
}

#footer {
  background-color: #ebefc3;
  text-align: left;
  color: black;
  font-family: 'Playfair Display', serif;
  font-size: 0.8em;
  border-top: 1px solid black;
}
